name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # 监听 main 分支的推送事件

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js and pnpm
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm # 这一行会告诉 action-setup-node 自动安装 pnpm 并配置 PATH

      - name: Install dependencies
        # 此时 pnpm 已经可用
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
